@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
}

a{
    text-decoration: none;
    color: inherit;
}
#root{
    width: 1200px;
    margin: 0 auto;
    
}
html{
    margin: 0;
    padding:0;
    background-color: #f4f4f4;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    color: #00483d;
    font-family: 'Combo';
    font-style: italic;
    font-weight: bolder;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 180),rgb(161, 161, 254));
    padding: 10px;
    border-radius: 35px;
    margin: 0;
}
.search-product {
    display: flex;
    align-items: center;
    width: 50%;
}
.search-product input{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding:8px 8px;
    box-shadow: 10px 10px 15px rgb(113, 113, 113);
    width: 100%;
}
.search-product input:focus{
    outline: 1px solid #03a88f;
    
}
.search-product button {
    display: inline-block;
    width: 48px;
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #00483d;
    color: white;
}

.kt-dh{
    font-size: 12px;
    display: flex;
    width: 120px;
    background-color: #00483d;
    color:white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
}
.kt-dh span{
    display: inline-block;
    width: 70px;
    
}
.kt-dh i{
    display: block;
    font-size: 25px;
}
.card{
    display: flex;
    font-size: 25px;
    color: #00483d;
    align-items: center;
}
.angle{
    font-size: 0px;
   border-top:5px solid transparent ;
   border-left:5px solid transparent ;
   border-right:5px solid orangered  ;
   border-bottom:5px solid  transparent;
}
.number-product{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
}
nav{
    display: flex;
    align-content: center;
    background-color: #00483d;
    border-radius: 5px;
    position: relative;
}
.nav-item{
    padding:10px;
    background-color: transparent;
    border-right: 1px solid #b6b6b6 ;
    color: white;
    display: block;
}

.product-list-hot{
    display: flex;
    flex-wrap: wrap;
    
}
article{
    width: 230px;
    height: 350px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    list-style: none;
    box-shadow: 0 4px 6px #00000029;
    background-color: #fff;
}
.product-img{
    display: block;
    width: 150px;
    margin: 30px auto 0 auto;
}
.product-name{
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.product-price{
    padding: 0 10px;
    color:red;
    text-align: center;
    font-size: 15px;
}



#form-register{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 5px black, 1px -1px 5px black, -1px 1px 5px black,-1px -1px 5px black;
    border-radius: 5px;
    background-color: white;

}

.input-control{
    display: flex;
    width: 500px;
    height:50px;
    align-items: center;
    margin-left: 20px;
}
.input-control label{
    display: inline-block;
    width: 200px;
}
.input-control input:not([type="radio"]){
    background-color: #d6d6d6;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
}
.input-control input[type="radio"]{
    color: #00483d ;
    background-color: #00483d;
    font-size: 30px;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}
.input-control input:focus:not([type="radio"]){
    outline: none;
}
.input-control button{
    padding: 10px 28px;
    font-size: 14px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,rgb(1, 154, 52),rgb(0, 86, 29));
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.input-control button:hover{
    background-image: linear-gradient(to top,rgb(1, 154, 52),rgb(0, 86, 29));
}


.slider{
    display: none;
    
}
.point {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: red;
    animation: run 5s linear infinite alternate-reverse;
    -webkit-animation: run 5s linear infinite alternate-reverse;
}



/* slider */
.slider-item {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 4rem;
    font-weight: bold;
}

.slider{
    margin-top: 10px;
}

.img-slide{
    width: 100%;
    border-radius: 10px;
}
.btn-pre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 38px;
    color: #fff;
    top:50%;
    z-index: 2;
    background-color: rgba(126, 126, 126, 0.419);
    border-radius: 50px;
    transform: translateY(-50%);
}
.btn-next{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 38px;
    color: #fff;
    top:50%;
    right: 0;
    z-index: 2;
    background-color: rgba(126, 126, 126, 0.419);
    border-radius: 50px;
    transform: translateY(-50%);
}


/*footer*/

footer{
    /* box-sizing: border-box;
    padding: 20px 25px;
    background-color: #00483d;
    color: rgb(233, 233, 233);
    font-size: 13px; */
}
.col-content {
    display: flex;
}
footer .bg .col-content>div {
    flex-direction: column;
    width: 16.6666%;
}
footer .bg .col-content h4 {
    font-size: 15px;
    margin: 10px 0 6px 0;
}
footer .bg a{
    color: #ddd;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
footer .bg ul li {
    margin-bottom: 3px;
}
footer .bg a.hotline, footer .bg a.hotline:link, footer .bg a.hotline:visited {
    color: #00483d;
    font: Bold 18px/18px -apple-system,BlinkMacSystemFont,'Segoe UI';
}
footer .bg .hotline {
    display: inline-block;
    padding: 6px 10px;
    background: #fff;
    border-radius: 4px;
    color: #00483d;
}
footer .bg {
    background: #00483d;
    border-radius: 11px;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

footer .info {
    padding-top: 30px;
    text-align: center;
}
footer .info p {
    margin: 0 0 5px 0;
    font-size: 9pt;
}

/*old


.service{
    display: flex;
    justify-content: space-between;
}
.service div span{
    display: block;
}
.footer-contact{
    margin-top: 50px;
    text-align: center;
}
.footer-contact span{
    display: block;
}






*/



/* drop******************************************************************************************** */

.nav-group section{
    display: none;
}
.nav-group:hover section{
    display: block;
}
.nav-supper{
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 199;
    padding: 15px 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 200ms,visibility 200ms;
    transition: opacity 200ms,visibility 200ms;
    width: 1200px;
    background-color: #ffffff;
    
}
.nav-area{
    z-index: 1;
}
.header-path{
    color: #00483d;
    display: inline-block;
    margin:  10px 0;
    font-size: 15px;
    padding-left: 5px;
}
.nav-path{
    margin-bottom: 10px;
}
.ul-nav-path{
    margin:0;
    padding:0 0 0 20px;
    display: flex;
}
.ul-nav-path li{
    list-style-type: none;
}
.a-nav-path{
    font-size: 15px;
    display: inline-block;
    margin-right: 30px;
}
.ul-nav-path li:hover{
    color:#007664;
    cursor: pointer;
}












/*demo slider hot*/

.slider-hot{

}
.item-hot{
    width: 300px;
    height: 100px;
    font-size: 38px;
    border: 1px solid black;

}



.slick-next{
    margin:0 50px;
}
.slick-next::before{
    color: #b6b6b685 !important;
    font-size: 40px !important;
}
.slick-prev{
    margin: 0 30px;
    z-index: 10000000000000000000;
}
.slick-prev::before{
    color: #b6b6b685 !important;
    font-size: 40px !important;
}



/*he*/

.header-group-product{
    background: #009981;
    margin: 20px 0;
    display: inline-block;
    height: 30px;
    overflow: hidden;
}
.header-group-product h4{
    padding: 5px 60px 6px 35px;
    margin: 0 0 0 60px;
    background: #00483d;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.header-group-product:after {
    content: " ";
    border-top: 30px solid #00483d;
    border-left: 30px solid #009981;
    margin-left: 40px;
}